.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagenNav {
    max-width: 2em;
}
.textoNav {
    font-size: 17px;
}
.tarjet {
    gap: 9rem;
}
.mensaje {
    height: 200px;
}
.footericon {
    font-size: 25px;
}
.footertext {
    font-weight: 200
}

